/**----------------------------------------------
 * ?                    ABOUT
 * @author      : Francisco Jiménez López   
 * @email       : paco.mlga@gmail.com
 * @clase       : 1ºDAW
 * @description : En esta version esta todo aun patas arriba, tengo algunas cosas colocadas pero aun le falta bastante, tanto los colores como el fondo deberan cambiarse y el menu de arriba hacerlo responsive con un menu hamburguesa , pero por falta de tiempo aun no fue incluido
 *---------------------------------------------**/

body{
 font-family: 'Montserrat', sans-serif;
 background-image: url('../images/fondo.jpg');
 margin: 0px;
 padding:0%;          
   
}
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
  background-color: #000000;
  font-family: 'Luckiest Guy', cursive;
}

#wrapper {background-color: #fff;
  border: 5px solid rgb(3, 3, 3);
  width:80%;
  margin:auto;
  height: 80%;
}

/************boton*****************/
/***********Este boton en un principio queria que se encargara de un cambio de diseño en la pagina, tengo que ver como seria la mejor forma de hacerlo ya que por ahora solo habia pensado en  cambiar algunas de las imagenes por otras , cambiar el color de fondo de la pagina y quizas hacer algun efecto al activarse************************/
.container {
  position: relative;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.switch {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(100%);
  display: inline-block;
  width: 90px;
  height: 40px;
  outline: none;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  border: 3px solid #ffffff;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  content: "OFF";
  position: absolute;
  left: 45px;
  bottom: -9px;
  z-index: 100;
  color: #000000;
  font-size: 2.5em;
  text-shadow:
   -2px -2px 0 #ffffff,  
    2px -2px 0 #ffffff,
   -2px  2px 0 #ffffff,
    2px  2px 0 #ffffff;
  -webkit-transform: translateX(0px) rotate(-10deg);
          transform: translateX(0px) rotate(-10deg);
  -webkit-transition: .1s;
          transition: .1s;
}

.slider:after {
  content: "";
  position: absolute;
  top: -27px;
  left: 27px;
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-right: 37px solid #ffffff;
  border-bottom: 15px solid transparent;
  transform: rotate(90deg);
}

input:checked + .slider {
  border-color: #ff1ead;
  animation: shake .15s linear 0s 1;
}

input:checked + .slider:before {
  content: "ON";
  text-shadow:
   -2px -2px 0 #ff1ead,  
    2px -2px 0 #ff1ead,
   -2px  2px 0 #ff1ead,
    2px  2px 0 #ff1ead;
  -webkit-transform: translateX(-65px) rotate(10deg);
          transform: translateX(-65px) rotate(10deg);
}

input:checked + .slider:after {
  content: "";
  position: absolute;
  border: none;
  top: 1px;
  left: 0px;
  width: 60px;
  height: 30px;
  transform: rotate(10deg) skew(-20deg);
  background: #ff1ead;
  box-shadow: -6px 3px #ff1ead;
}

@keyframes shake {
  0%   { transform: translateX(0px) rotate(0deg); }
  33%  { transform: translateX(2.5px) rotate(5deg); }
  66%  { transform: translateX(-2.5px) rotate(-5deg); }
  100% { transform: translateX(0px) rotate(0deg); }
}
/****************************************/



nav {position:sticky; 
  top:0;          
  z-index: 99;   
  }

.fa-arrow-up {position:fixed;
           bottom:20px;
           right:20px;}

#arriba {color:black;}              

.topnav {
    
  background-color: rgb(141, 24, 24);
  overflow: hidden;
}


.topnav a {
 
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.topnav .icon {
  display: none;
} 

#hero { background-image: url('../images/persona5hero.jpg');
       
  height: 100vh;                                   
  background-repeat: no-repeat;                     
  background-size: cover;                         
  background-position: center;                     
  position:relative;
}
/**********imagenes en abanico*************************/
/*Ahora mismo esta a medio hacer , faltaria que al pasar por cada imagen muestre un texto en la parte derecha de la pantalla o en la propia imagen eso tendre que ir probandolo*/

#imagenes{
  
  position: relative;
  top: 0vh;
  display: grid;
  place-items: center;
  
  display: flex;
  width: 50%;
  height: 0%;
  

}
#imagenes img{

width: 0px;
flex-grow: 1;
object-fit: cover;
opacity:.8;
transition:.5s ease ;
border: 2px solid rgb(14, 13, 13);
}
#imagenes img:hover{
  
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);

}


#personajes{
  background-color: aqua;
  background: #ff1ead;

}
#titulo {font-family: titulos;
  font-size:2rem;
  text-align:center;
  width:40%;
  position:absolute;
  top:40%;
  left:0%;
  border: 1px; 
  border-radius: 50%;
  color:rgb(108, 1, 1);
  }
  h1 {
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    
    border-style :3px #f2f2f2;
    text-decoration: underline;
  }
  footer {background-color: #f5eaea;}

.grid3 {display:grid;
        grid-template-columns: 25% 25% 50%;}
.col3 {padding:6%;}

.col3 img {width:90%;
           display:block; 
           margin:auto;}

           @media only screen and (max-width: 768px) {
            /* Adjust styles for smaller screens here */
            #titulo {
                width: 100%;
                font-size: 1.5rem;
            }
        
            .grid3 {
                grid-template-columns: 100%; /* Adjust columns for smaller screens */
            }
        }

        @media only screen and (max-width: 900px) {
          /* Additional adjustments for screens with a maximum width of 900px */
          #wrapper {
              width: 100%;
          }
      
          #titulo {
              width: 60%;
              left: 20%;
          }
      
          .grid3 {
              grid-template-columns: 50% 50%;
          }
      
          .col3 {
              grid-template-columns: 50% 50%;
          }
      
          .fa {
              width: 60%;
              right: 10%;
          }
      
          .titulo-section {
              font-size: 2rem;
          }
      }
      

      @media only screen and (max-width: 768px) {
        /* Adjust styles for smaller screens here */
        #titulo {
            width: 100%;
            font-size: 1.5rem;
        }
    
        .grid3 {
            grid-template-columns: 100%; /* Adjust columns for smaller screens */
        }
    
        #imagenes {
            width: 90%;
            left: 5%;
        }

        #wrapper {
          width: 100%;
        }
    
       /* #info {

            
            width: 50%;
            left: 5%;
*/
        }
    
        #personajes {
            height: 100%
        }
    
        .col3 img {
            width: 100%; /* Make images fill their container */
        }
    
  
    @media only screen and (max-width: 700px) {
      /* Additional adjustments for screens with a maximum width of 600px */
      #wrapper {
          width: 100%;

      }
  
      #titulo {
          width: 80%;
          left: 10%;
      }
  
      .grid4 {
          grid-template-columns: 100%;
      }
  
      .titulo-section {
          font-size: 2rem;
      }

      #imagenes{
  
        position: relative;
        top: 60%;
        display: grid;
        place-items: center;
        
        display: flex;
        width: 0 auto;  
      
  }
  
  
} 
  